body {
    font-family: sans-serif;
}

header img {
    height: 70px;
    width: 70px;
}
footer {
    background-color:#09035A;
}
footer p {
    color:white;
}
main img {
    height: 150px;
    width: 150px;   
}
h1 {
    text-align: center;
}
